* {
    margin: 0;
    border: 0;
    padding: 0;

}

.banner-image {

    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;




}

.new-year-greeting {

    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 130px;

}

.new-year-party {

    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    line-height: 95px;
    width: 632px;
    margin: auto;
}

.discount {

    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 80px;

}

.holiday-deals {

    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;

}

.categories {

    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 15px;

}

.new-year-photo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

/* Midnight Party */



.midnight-party {


    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');

    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;




}

.midnight-party-2024 {

    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    padding: 70px 70px;

}

.midnight-party-title {


    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 15px;
    text-align: left;
}

.midnight-party-description {

    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;


}

#join-now {

    color: #FFF;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: #070211;
    border: #070211;
    padding-left: 32px;


}

.year-2024 {

    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    margin-top: 85px;

    margin-right: 135px;
}

/* Venue and time */


.Time-Venue {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    margin-bottom: 120px;


}

.venue {


    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;

}


.place {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 10px 20px;



}

.location {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

#register {

    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border-radius: 16px;
    margin-bottom: 100px;
    margin-top: 18px;

}



/* New best offer */

.current-year {

    margin-top: 150px;

}

.incidents {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 1320px;
    gap: 80px;

}

.new-best-offer {

    text-align: left;
    padding-top: 70px;
}

.best-offer {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.coming-soon {

    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}


.best-offer-description {

    margin-top: 22px;
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}



.picture {

    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    border-radius: 43px;
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 30px;
}



.new-year {


    margin-bottom: 100px;


}

.current-year {

    color: #F00;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.new-year-description {

    color: rgba(7, 2, 17, 0.60);
    width: 276px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
}

.new-year-picture {

    margin-top: 43px;
}




/* Functional Holiday Sale 50% */

.functional-title {


    display: flex;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;

}

.what-is-functional {

    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.holiday {

    color: #F00;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;

}

.sale {

    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;

}

.functional-description {

    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;

}

.four-images {

    margin-top: 150px;
    width: 1320px;
    height: 662px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.rectangle-red {

    position: absolute;
    bottom: 0%;
}

.extra-images {

    display: flex;
    flex-direction: row;

}

.extra-images .left {

    position: absolute;
    top: 0;

}

.extra-images .right {

    position: absolute;
    top: 0;
    right: 0;
}

.extra-images .right .fifty-discount {


    position: absolute;
    right: 70%;
    top: 20%;

}



/* Awesome Gifts */


.best-gifts {

    margin-top: 150px;
    display: flex;
    flex-direction: column;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.gifts {

    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.mark:hover {
    background-color: black;
    border-radius: 300px;
}

.awesome-portfolio {

    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
}

.best-gifts-description {

    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.item-images {

    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 24px;
    width: 1320px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Subscribe Newsletter */

.subscribe {

    margin-top: 150px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;

}

.icon {

    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px 40px 0px;
}

.subscribe-title {

    color: #070211;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.susbcribe-description {

    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.email {

    width: 648px;
    border-radius: 0px;
    background: #FFF;
    padding: 25px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}

.submit {
    color: #FFF;
    background-color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    width: 210px;
    height: 72px;
    padding: 26px 6px;
}

.information {

    margin-top: 48px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    width: 648px;
    margin-left: auto;
    margin-right: auto;

}


/* Footer */
.background {

    background-color: #070211;
    margin-top: 150px;

}

.contact-info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.address {

    padding-left: 140px;
    padding-top: 120px;
    width: 375px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.contact-number {

    padding-top: 120px;
    padding-right: 290px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.website-link {

    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}

.number {

    margin-bottom: 10px;

}

.contact-number {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.call-image {

    padding-right: 15px;
    padding-top: 20px;
}

.website-image {

    padding-right: 15px;
    padding-top: 20px;
}


.socialmedia-icons {

    display: flex;
    flex-direction: row;
    justify-content: center;



}

.social-platforms {

    margin-right: 24px;
}

.line {

    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 50px 130px;
}


.security {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 120px;
}

.rights-reserved {

    margin-top: 98px;
    padding-left: 140px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.unsubscribe {

    margin-top: 98px;
    padding-right: 140px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;

}